---
name: PR testing

# run on each PR and on merges to main
on:
  pull_request: {}
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        java: [ '17', '21' ]
    env:
      LEIN_HOME: local
    name: Java ${{ matrix.java }} tests
    steps:
      - uses: actions/checkout@v6
      - name: setup java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
      # install clojure tools
      - name: Install Clojure tools
        uses: DeLaGuardo/setup-clojure@13.4
        with:
          lein: latest # Leiningen
      - run: lein test

  tests:
    needs:
      - test
    runs-on: ubuntu-24.04
    name: Test suite
    steps:
      - run: echo Test suite completed
