---
name: PR testing

# run on each PR and on merges to main
on:
  pull_request: {}
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        java: [ '17', '21' ]
    env:
      LEIN_HOME: local

    name: Java ${{ matrix.java }} tests
    steps:
      - uses: actions/checkout@v4
      - name: setup java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
      - name: setup lein
        run: |
          mkdir -p local/bin
          curl --output local/bin/lein https://raw.githubusercontent.com/technomancy/leiningen/2.9.1/bin/lein
          chmod +x local/bin/lein
      - run: local/bin/lein test
