---
name: PR testing

# run on each PR and on merges to main
on:
  pull_request: {}
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        java: [ '17', '21' ]
    env:
      LEIN_HOME: local

    name: Java ${{ matrix.java }} tests
    steps:
      - uses: actions/checkout@v6
      - name: setup java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
      # install clojure tools
      - name: Install Clojure tools
        uses: DeLaGuardo/setup-clojure@13.4
        with:
          # Install just one or all simultaneously
          # The value must indicate a particular version of the tool, or use 'latest'
          # to always provision the latest version
          lein: latest # Leiningen
      - run: lein test

  # this validates the Gemfile and Rakefile that will be copied into the build container
  # they provide tasks that will be used to compile ezbake projects and build packages
  validate-staging-templates:
    name: Validate Ruby
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: Setup ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2'
          bundler-cache: true
          working-directory: resources/puppetlabs/lein-ezbake/template/global
      - run: bundle env
        working-directory: resources/puppetlabs/lein-ezbake/template/global

  tests:
    needs:
      - test
      - validate-staging-templates
    runs-on: ubuntu-24.04
    name: Test suite
    steps:
      - run: echo Test suite completed
